<div class="select-combo-active-item" {{action 'open'}}>
  {{#if value}}
    {{valueLabel}}
  {{else}}
    {{placeholder}}
  {{/if}}
</div>

{{#if isOpen}}
  <div class="select-combo-dropdown">
    {{combo-search-field class="select-combo-field" focus-out='ensureClose'
      value=filterText placeholder=inputPlaceholder}}

    <ul class="select-combo-list">
      {{#each item as |filtered|}}
        {{combo-item content=item}}
      {{/each}}
    </ul>
  </div>
{{/if}}
