<h1 id="title">Ember Select Combo</h1>

<h2>Select ember data model to relationship. Value is id</h2>
{{select-combo value=selected_id content=users tabindex='1'
 optionLabelPath='content.name' optionValuePath='content.id'}}

<p>
  <label>
    Selected id is:
    {{input value=selected_id}}
 </label>
</p>

<h2>Select ember data model to relationship by id. Value is whole content</h2>
{{select-combo value=selected content=users tabindex='1'
 optionLabelPath='content.name' optionValuePath='content'}}

<p>
  <label>
    name of selected user is:
    {{input value=selected.name}}
 </label>
</p>

<h2>Same input to test bindings</h2>
{{view 'select' value=selected content=users tabindex='1'
 optionLabelPath='content.name' optionValuePath='content'}}

<h2>Async data load</h2>
<button {{action 'openToggle'}}>Toggle select and data</button>
{{#if isOpen}}
  {{select-combo value=selected content=users2 tabindex='1'
   optionLabelPath='content.name' optionValuePath='content'}}
{{/if}}

<h2>Select ember data model to relationship with default value</h2>
